[Unit]
Description=iSCSI target framework daemon
Documentation=man:tgtd(8)
After=network.target

ConditionPathExists=/etc/tgt/targets.conf

[Service]
Type=notify
Environment=TGTD_CONFIG=/etc/tgt/targets.conf

ExecStart=/usr/sbin/tgtd --foreground
ExecStartPost=/usr/sbin/tgtadm --op update --mode sys --name State --value offline
ExecStartPost=/usr/sbin/tgtadm --op update --mode sys --name State --value ready
ExecStartPost=/usr/sbin/tgt-admin --verbose --execute --conf ${TGTD_CONFIG}

ExecReload=/usr/sbin/tgt-admin --verbose --update ALL --force --conf ${TGTD_CONFIG}

ExecStop=/usr/sbin/tgtadm --op update --mode sys --name State --value offline
ExecStop=/usr/sbin/tgt-admin --verbose --offline ALL
ExecStop=/usr/sbin/tgt-admin --verbose --update ALL --force --conf /dev/null
ExecStop=/usr/sbin/tgtadm  --op delete --mode system

# Exit code: 107 tgtd not running


[Install]
WantedBy=multi-user.target
